#cam1{
    height: 40px;
    width: 40px;
    position:relative;
    top:20px;
    left:20px;
    padding:10px;
}
#nav{
    
   border: 1px solid black;
   
    display:flex;
    justify-content: space-between;
    
}
#part1{
    display: flex;
    
}

#cam{
    height: 40px;
    width: 40px;
    position:relative;
    top:20px;
    padding:10px;
    position:relative;
    left:1200px;
    
}
#name1{
    position:relative;
    top:10px;
    left:10px;
   
}
